* {
  font-family: Georgia, "Times New Roman", Times, serif;
}

header {
  position: relative;
}
h2 {
  display: flex;
  justify-content: left;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 800px;
  max-width: 80%;
  background-color: rgb(54, 228, 210);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
}

.answer-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.hide {
  display: none;
}

.startButton {
  justify-content: center;
}
